<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index_css.css" />
    <link rel="stylesheet" type="text/css" href="thirdPartyFramework/bootstrap-dist/css/bootstrap.css" />   
    <link rel="stylesheet" type="text/css" href="thirdPartyFramework/markdown/markdown.css" />

    <script src="thirdPartyFramework/angular/angular.min.js"></script> 
    <script src="thirdPartyFramework/angular/angular-route.js"></script> 
    <script src="thirdPartyFramework/jquery/jquery-min.js"></script> 
    <script src="thirdPartyFramework/template/template.js"></script> 
    <script src="thirdPartyFramework/markdown/markdown.js"></script> 

<title>SimonLike</title>

</head>

<body> 

<!-- 背景音乐 -->
<!-- <div style="text-align: center;">
    <audio controls="controls"  style="margin-top: 30px">
        <source src="images/光阴的故事.mp3" type="audio/mpeg">
    </audio>
</div> -->
<!-- <div ng-app = "myapp" ng-controller="appctl"> -->
<div ng-app = "myapp" >
    <!--left背景色-->
    <div ng-controller="leftctl" class="left">
        <div class="self_info">
            
        </div>
  
        <div class="sidebar"> 
            <div ng-repeat = "x in leftinfo" class="btnwith" id="side{{x.index}}" ng-click="sideDeatil(x.index)" > 
                {{x.name}}
            </div> 
        </div>
    </div>

    <!--meun-->
    <div id="sda" ng-controller="sidebarctl" class="sidebar_info">
        <p id="menu_title" class="menu_title">所有</p>

        <div class="list_info">
<!-- <div  class="list_box" ng-repeat="x in names" ng-click = "joinDetail($index + 1)">
                <p>{{x.conent}}</p>
                <p>{{x.time}}</p>
            </div>  -->
           <a ng-repeat="x in names"  href="#/{{x.url}}"> 
                <div class="list_box">
                    <p>{{x.conent}}</p>
                    <p>{{x.time}}</p>
                </div> 
            </a>
     <!--        <li><a href="#/">首页</a></li>
            <li><a href="#/computers">电脑</a></li>
            <li><a href="#/printers">打印机</a></li>
            <li><a href="#/blabla">其他</a></li>   -->
     
        </div>
    </div>
    <!--内容区-->
    <div id="loadhtml" ng-controller="contentctl" class="content" >
             <div ng-view="">
    </div>

    </div>

</div>
 

<script src="js/index.js"></script> 

<script type="text/javascript">

</script>

</body>
</html>