<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index_css.css" />
    <link rel="stylesheet" type="text/css" href="thirdPartyFramework/bootstrap-dist/css/bootstrap.css" />   
    <link rel="stylesheet" type="text/css" href="thirdPartyFramework/markdown/markdown.css" />

    <script src="thirdPartyFramework/angular/angular.min.js"></script> 
    <script src="thirdPartyFramework/angular/angular-route.js"></script> 
    <script src="thirdPartyFramework/jquery/jquery-min.js"></script> 
    <script src="thirdPartyFramework/template/template.js"></script> 
    <script src="thirdPartyFramework/markdown/markdown.js"></script> 

<title>SimonLike</title>

</head>

<body> 

<!-- 背景音乐 -->
<!-- <div style="text-align: center;">
    <audio controls="controls"  style="margin-top: 30px">
        <source src="images/光阴的故事.mp3" type="audio/mpeg">
    </audio>
</div> -->
<div ng-app = "myapp" ng-controller="appctl">

    <div class="left_meun">
    <!--left背景色-->
        <div  class="left_info">
            <div class="self_info">
                
            </div>
             
            <div class="sidebar"> 
                <div ng-repeat = "x in leftinfo" class="btnwith" id="side{{x.index}}" ng-click="sideDeatil(x.index)" > 
                    {{x.name}}
                </div> 
            </div>
        </div>
    
        <!--meun-->
        <div id="sda"  class="sidebar_info">
            <p id="menu_title" class="menu_title">所有</p>
    
            <div class="list_info">
               <a ng-repeat="x in names"  href="#/{{x.url}}"> 
                    <div class="list_box">
                        <p>{{x.conent}}</p>
                        <p>{{x.time}}</p>
                    </div> 
                </a>
            </div>
        </div>
    </div>

    <!--内容区-->
    <div id="loadhtml"  class="content" >

        <div class="meun_do" ng-click="showMeun()"></div>
        <div ng-view=""></div>

    </div>

</div>
 

<script src="js/index.js"></script> 

<script type="text/javascript">

</script>

</body>
</html>