/*html{height: 100%}
body{background-color: beige;height: 100%}*/
.a_none{
    text-decoration: none;
}
.li_height{
    padding: 10px 0px; 
}
.top{
	position: absolute;
	top:0%;
	left: 0% ;
	width: 100% ;
	height: 12%;
	text-align: center; 
	background-color: burlywood;
}

.left_meun{
	position: absolute;
	z-index: 9;
	top:0%; 
	left: 0%;
	width: 500px;
	height: 100%;
}

.left_info{
 	float: left;
	width: 30%;
	height: 100%;
	background-color: burlywood;
 }

.sidebar_info{
 	float: left;
	width: 66%;
	height: 100%;
 	background-color: #f1f1f1;
    padding-bottom: 15px;
 }
.self_info{
	width: 100%;
	height: 150px;
}
.sidebar{
	text-align: center;
}
ul li{
	list-style-type: none;

}

/*.sidebar div:first-child:after{
 	position: absolute;
	right: 0px;
	width: 6px;
	top: 5%;
	height: 90%;
	content: "";
	background-color: #ff4a39;
}*/
.btnwith,.btn_active{
	/*display: inline-block;*/
	position: relative;
	width: 100%;
	padding: 15px 0px;
}

.btn_active:after{
	position: absolute;
	right: 0px;
	width: 6px;
	top: 5%;
	height: 90%;
	content: "";
	background-color: #ff4a39;
}
/*.btnwith:hover
{
    background-color:#ff4a39;
}*/

.menu_title{
 	width: 100%;
	padding: 14px; 
	text-align: center;
	background-color: burlywood;
	font-size: 16px;
	color: green;
 }
.list_info{
 
    width: 100%;
    font-size: 16px;
    height: 100%;
    overflow: auto;
    padding: 0;
    padding-bottom: 100px;

    /*box-sizing: border-box;*/
}
.list_box{
	background-color: #fff;
    padding: 10px;
    margin:1.5% 3%;
    border-radius: 3px;
}
.list_box:hover{
    background-color:#1ab394;
}
.content{
	position: absolute;
	top: 0px;
	left: 450px;
	right: 0px;
	height: 100%;
	width: auto;
	/*background-color: #f1f1f1;*/
    overflow: auto;
    padding: 2% 10% 10% 10%;
}
.meun_do{
    position:fixed  ;
	top: 60px ;
	left: 20px;
	padding: 20px;
	background-color: #ff4a39;
	display: none;
}

@media (max-width: 767px) {
 	.left_meun {
 	  	display: none;
 	}
 	.meun_do {
 	 	display: block;
 	}
 	.content{
 		left: 0px;
 	}
}
@media (min-width: 768px) {
  	.left_meun {
    	display: none;
  	}
  	.meun_do {
    	display: block;
  	}
  	.content{
  		left: 0px;
 	}
}
@media (min-width: 992px) {
   .left_meun {
    	display: block;
  	}
  	.meun_do {
  	  	display: none;
  	}
  	.content{
  		left: 500px;
  	}
}
@media (min-width: 1200px) {
   .left_meun {
   	 	display: block;
    }
 	.meun_do {
 	  	display: none;
 	}
 	.content{
  		left: 500px;
  	}
}


/*.meun_do{
    position:fixed ! important;
	top: 30px ! important;
	left: 30px;
	padding: 15px;
	background-color: #f1f1f1;
	z-index: 9;
	display: none ! important;
}*/
